 /*Sameehs improvement */ 
 
.pull-hook-content {
	color: #717171;
	transition: transform .25s ease-in-out;
}
.button--material {
	background-color: #ed313d;
	padding: 3%;
}
.card__title,
.card--material__title {
	font-size: 20px;

}
.intro {
	text-align: center;
	padding: 0 20px;
	margin-top: 40px;
	
}
.profile-pic {
	width: 200px;
	margin: 20px auto 10px;
	border-radius: 4px;
	
}
.profile-pic > img {
	display: block;
	max-width: 100%;
}
#claimborder {
	padding: 3%;  /*This is the claim border which will change claim screen*/ 
	background-color:#77777;

}
#claimitem {
	padding: 5%;  /* This will change the text on claims page after selecting what type of claim is wanted */ 
	width: 100%;
	background-color:#717171;
}
#Claimssuccess1 {
	position: absolute; 
	left: 20%; 
	right: 20%; 
	bottom: 5%;
	padding:3%; 
	background-color:#717171;
}
#sidemenuitems {
	color: #eee;
}
ons-card {
	cursor: pointer;
	color: #717171;
	z-index:-1 !important;
	background-color:#ed313d;

}
ons-list-item {
	color: #717171;
	background-color:#717171;
	
	
}